@model List<Customer>

    <a class="btn btn-success mb-2" href="/admin/customers/Create">Create</a>


@if (Model != null)
{
    <div class="container">
        <div class="row">
            <div class="col-12">

                <table class="table table-dark table-hover table-striped table-border border-danger  caption-top ">
                    <thead>
                        <tr>
                            <th class="text-warning" scope="col">#</th>
                            <th class="text-danger"  scope="col">Name</th>
                            <th class="text-danger"  scope="col">FeedBack</th>
                            <th class="text-primary" scope="col">Photo</th>
                        </tr>
                    </thead>
                    <tbody>
                       @foreach (var item in Model)
                       {
                            <tr>
                            <th scope="col">@item.Id</th>
                            
                            <td>@item.Name</td>
                            <td>@item.FeedBack</td>

                            <td >
                                <img class="img-fluid" width="300" src="~/@item.CustomerPhoto" />
                            </td>
                            <td>
                                <a class="btn btn-outline-danger btn-sm" href="/admin/customers/delete/@item.Id">Delete</a>
                                <a class="btn btn-outline-primary btn-sm" href="/admin/customers/edit/@item.Id">Edit</a>
                                <a class="btn btn-outline-warning btn-sm" href="/admin/customers/detail/@item.Id">detail</a>
                            </td>
                        </tr>
                       }


                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="color:darkgreen" colspan="3">This Table for Customers</td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </div>

}
else
{
    <div class="alert alert-danger"><strong>There is no information in Database</strong></div>
}

