<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
              <div class="input-group my-2">
                 <input name="Title" id="tirle" class="form-control" type="text" placeholder="Tile"/>
              </div>
               <div class="input-group my-2">
                 <input name="Description" id="description" class="form-control" type="text" placeholder="Description"/>
              </div>
               <div class="input-group my-2">
                 <input name="myPhoto" id="photo" class="form-control" type="file" placeholder="Customer Photo"/>
              </div>
              <input type="submit" class="btn btn-success"value="Create"/>

        </div>
    </div>
</form>